
:root {
    --secondary-color: #0d1b2a;
    --primary-color: #1b263b;
    --acent1-color: #415a77;
    --accent2-color: #e0e1dd;
}
* {
    width: 500px;
    margin: auto;   
}
header {
    display: grid;
    grid-template-columns: 120px 1fr 2fr;
    margin: 1rem auto;
    max-width: 1000px;
    border-bottom: 1px solid #ccc;
}

nav a {
    justify-content: space-around;
    padding-left: 30px;
    text-decoration: none;
    font-size: 15px;
}
nav img {
    width: 100px;
    height: 100px;
    max-width: 30%;
    max-height: 30%;

}

h1 {
    font-family: poppins, serif;
    font-weight: bold;
    position: absolute;
    background-color: transparent;
    color: var(--accent2-color);
    margin-top: 80px;
}
h2 {
    font-family: poppins, serif;
    color: var(--primary-color);
    text-align: center;
}
h2 {
    text-align: center;
    font-family: poppins, serif;
    color: var(--primary-color);

}
.hero {
    background-color: var(--acent1-color);
    position: relative;
}
article img {
    float: right;
    max-width: 30%;
}
article {
    position: relative;
}
p {
    font-family: montserrat;
}
.hero img {
    float: right;
    width: 100%;
    height: auto;
    display: block;
}
div .hero {
    position: absolute;
    opacity: 100%;
    
}
figcaption {
    text-align: center;
}
#container img {
    display: flex;
    flex-direction: row;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    justify-content: space-around;
    
    
}
body {
    font-family: montserrat, Verdana, Geneva;

}
.sociallinks {
    text-decoration: none;
    display: flex;
    float: right;
    max-width:55%;
    max-height: 55%;
    justify-content: space-around;
}
