
:root {
    --secondary-color: #0d1b2a;
    --primary-color: #1b263b;
    --acent1-color: #415a77;
    --accent2-color: #e0e1dd;
}
* {
    width: 500px;
    margin: auto;
    
}
nav img {
    width: 100px;
    height: 100px;
    max-width: 30%;
    max-height: 30%;
}
h1 {
    font-family: poppins, serif;
    font-weight: bold;
    position: absolute;
    background-color: transparent;
    color: var(--accent2-color);
    margin-top: 80px;
}
h2 {
    font-family: poppins, serif;
    color: var(--primary-color);
}
h3 {
    font-family: poppins, serif;
    color: var(--primary-color);

}
.hero {
    background-color: var(--acent1-color);
    position: relative;
}
article img {
    float: right;
    max-width: 30%;
}
article {
    position: relative;
}
p {
    font-family: montserrat;
}
.hero img {
    float: right;
    width: 100%;
    height: auto;
    display: block;
}
div .hero {
    position: absolute;
    opacity: 100%;
    
}
body {
    font-family: montserrat, Verdana, Geneva;

}
.sociallinks {
    text-decoration: none;
    display: flex;
    max-width: 50%;
    max-height: 50%;
}
